:root{
    --text-color: rgb(0, 0, 0);
    --font-size: 1em;
    --heading-font-size: 1.5em;
    --backgroung-color: rgb(240,242,245);
    --btn-hover-color: rgb(58, 89, 248);
    --btn-color: rgb(75,106,255);
    --box-shadow-color: #c3c3c333;
    /*--font-size: 17px;*/
    --font-color: white;

    --message-box-color: rgb(225,221,217);
    --message-box-right-color:linear-gradient(to bottom, #33ccff 0%, #6600cc 100%);
    --input-box: rgb(198 198 198 / 30%);
    --pop-background-color: rgb(205 223 240);
    --leftBar-color: white;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--backgroung-color);
    /* scroll-behavior: smooth; */

}
.top-bar{
    flex-grow: 100;
}
#chatHeader{
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.heading{
    width: 100%;
    margin: 0.7rem 0rem 0.7rem 0rem;
    display: block;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: 2px solid white; */
}
.flex-box{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.main-box{
    /*border: 2px solid black;*/
    height: 100vh;
}

/* LEFT  AND RIGHT BOX */
.leftBar{
    flex: 13%;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    /*border: 2px solid blue;*/
    background-color: var(--leftBar-color);
}
.right-box{
    height: 100%;
    flex: 87%;
    /*border: 2px solid rgb(19, 222, 93);*/
    z-index: 2;
}
.content-center{
    align-items: center;
}

/* Navigation Bar */
nav{
    display: flex;
    border-radius: 0.3rem;
    height: 80%;
    /*border: 2px solid blue;*/
}
.nav-list{
    width: 100%;
    padding-right: 3%;
}

.list{
    display: block;
    margin-top: 1rem;
    padding: 15px;
    text-decoration: none;
    list-style: none;
    margin-left: 0.5rem;
    font-size: 1em;
}
.navItems{
    margin: 0.5em;
    padding: 1em;
    text-decoration: none;
    list-style: none;
    /* margin-left: 0.5rem;
    margin-right: 0.5rem; */

}

.userAccount{
    display: flex;
    border-radius: 0.3rem;
    height: 20%;
}

/* -------------------------MENU BAR----------------------------------------- */
#menu{
    display: none;
}
.menu-bar-userA{
    position: absolute;
    z-index: 2;
    top:2%;
}
.menu-close{
    box-sizing: border-box;
    height: 100vh;
    width: 10%;
    background-color: rgb(29, 28, 28);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding-right: 0.7%;
    z-index: -1;
    display: none;
}
#close-icon{
    display: block;
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-top: 0.8em;
}
#check{
    display: none;
}
#check-btn{
    display: none;
}

/* -------------------------COntainer------------------------ */
.container{
    /* height: 83vh; */
    flex-grow: 1;
    flex-direction: column;
    /* border: 2px solid blue; */
    overflow-y:auto;
    margin-bottom: 1%;
    scroll-behavior: smooth;
    
}
.hideScroll::-webkit-scrollbar{
    display: none;
    
}
/* --------------------------------Chat Message----------------------- */
.message-box{
    /* font-size: 1rem; */
    background-color:var(--message-box-color);
    border-radius: 0.3rem;
    color:var(--text-color);
    padding: 0.8%;
    margin: 10px 17px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    max-width: 48%;
    min-width: 15%;
    width: auto;
    /* align-items: center; */
}
.left{ 
    /*Replace float with other layout, grid or flex*/
    /* clear: both;
    float: left; */
}
.right{
    /* clear:both;
    float: right; */
    align-self: flex-end;
}
.message-timestamp{
    font-size: 0.7em;
    text-align: right;
}
.message-sender{
    font-weight: bold;
    margin-bottom: 0.3em;

}
.message-text{
    margin-bottom: 0.3em;
    word-wrap: break-word;
}


/* ---------------------Input Form of chat -------------- */
#input1{
     /*border: 2px solid white;*/
    height: 40%;
    
}
#chat{
    border: 2px solid black;
}

.inputBox{
    padding-left: 1rem;
    display: inline-block;
    width: 60vw;
    height: 90%;
    /* margin: auto; */
    background-color: var(--input-box);
    border-radius: 0.7rem;
    color: var(--text-color);
}
#chat-input-form{
    width: 85vw;
    height: 100%;
    display: flex;
    justify-content: center;
}
.send-btn{
    background: linear-gradient(to bottom, #33ccff 0%, #6600cc 100%);
    height:60%;
    width: 6.5%;
    align-self: center;
    margin-left: 1%;
}



/* ALL HOVER */
.list:hover{
    background-color: var(--btn-hover-color);
}
.li-items:hover{
    cursor: pointer;
    background-color: var(--message-box-color);
}
.upinner-boxsize:hover{
    background-color: var(--btn-hover-color);
}

/* #userAcc:hover{
    background-color: var(--btn-hover-color);
}
#logout:hover{
    background-color: var(--btn-hover-color);
} */

.btn{
    color: white;
    background-color:var(--btn-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10%;
    cursor: pointer;

}
.active-room{
    background: var(--message-box-right-color);
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;
}


/* MENU PART */
.menu-close{
    display: none;
}



/* BackGround Image */
.first-box{
    height: 25%;
    /*border: 2px solid white;*/
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 3em;
    padding-right: 3em;
    flex-grow: 2;
}
.upinner-box{
    flex-direction: row;
    column-gap: 1.6em;
}
.update-btns{
    width: 35%;
    display: flex;
    column-gap: 2em;
}
.bg-image{
    width: 100%;
    height:20%;
    flex-grow: 3;
}
.bg-image img{
    position: relative;
    width: 100%;
    height:100%;
    z-index: 2;
}
/* =================== USer RElated =========================*/
#upper-box{
    height: 30%;
    /*border: 2px solid red;*/
    flex-grow:1;
    width: 100%;
}
#profile-img{
    height:120px;
    width: 120px;
    border-radius: 50%;
    /*border: 2px solid white;*/
    z-index: 2;
    
}
.user_info{
    justify-content: center;
    row-gap: 0.3em;
}

/* PROFILE */
/* #profile{
    height:10%;
    width: 10%;
    border: 2px solid white;
} */

/* MIDDLE BOX */
.middle-box{
    flex-grow:3;
    width: 100%;
}
.li-items{
    /* text-align:left; */
    /* margin-top: 2rem; */
    margin: 0.3rem 0.7em 0rem 0rem;
    padding: 15px;
    text-decoration: none;
    list-style:none;
    margin-left: 0.5rem;
}
.li-items.active{
    border-bottom: 2px solid rgb(75,106,255);
    font-weight: bold;
}
.mid-nav{
    border-bottom:2px solid var(--box-shadow-color);
}

/* ============ CONTENT ========================== */
.content{
    height: 100%;
}
#content-aboutUs{
    display: none;
}
#content-pers{
     display:none;
}
#content-contact{
    display: none;
}
#content-contact.active{
    display: flex;
}
#content-pers.active{
    display: flex;
}
.content-box{
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 93%;
    height: 80%;
    row-gap:1em;
}

/*  =============== Footer THEME SELECTION ======================== */
.radio-btns{
    width: 24%;
    height: 9%;
    background-color: var(--backgroung-color);
    color: var(--text-color);
    border-radius: 1%;
}

/* FOOTER */
footer{
    align-items: flex-end;
    /*border: 2px solid rgb(0, 11, 128);*/
}
footer h4{
    text-align: center;
    color:black;
    font-size: 13px;
}

/* Utility Class */
.text{
    color: var(--text-color);
    font-size: var(--font-size);
}
.rightMsg-box{
    background: var(--message-box-right-color);
    color: white;
}
.upinner-boxsize{
    padding: 0.4em;
    width: 43%;
    background-color: var(--btn-color);
    border-radius: 5%;
}




/*------------------------------ Utility Classes ------------------------------*/
.text{
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.center {
    text-align: center;
}


/* ===============================> Profile Page <============================ */
#theme-select{
    
}
#font-select{

}



/* =====================Media Query User Account Page =================*/
/* @media only screen and (min-width: 650px) and (max-width:900px){
    .first-box{
        padding: 0em 0.5em 0em 0.5em;
        justify-content:flex-start;
        column-gap: 4em;
    }
    .update-btns{
        width: 40%;
        align-self:auto;
    }
    .radio-btns{
        width: 30%;
    }
    
} */

/* ==========================> ABout Us page <====================================*/

  .header {
    width: 100%;
      background-color: white;
      color: #000000;
    padding: 20px;
    text-align: center;
  }


  .about-box {
    margin: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  p, h2 {
      color: var(--text-color);
    line-height: 0.6;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

    #abImg {
    margin: 0% 40% 0% 40%;
    max-width: 100%;
    width: 30%;
    height: 30%;
    border-radius: 10%;
  }
/* ============================> POPUP <================================*/
.popup{
    /* display: ; */
    position: fixed;
    top: 34%;
    right: 27%;
    height: 30%;
    width: 32%;
    border: 2px solid white;
    z-index: 5;
    background-color: var(--pop-background-color);
    /* justify-content: center;
    align-items: center; */
    /* row-gap: 10%; */

}
.popup form{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    flex: 1;
    align-content: center;
    row-gap: 10%;

}
.pop-close{
    margin-top: 2%;
    margin-right: 5%;
    align-self: flex-end;
    color:black;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--font-size);

}
.inside-pop{
    /* flex: 1; */
    justify-content: center;
    align-items: center;
    row-gap: 10%;
    height: 10%;
}

#edit-image{
    display: none;
}
#edit-image.active{
    display: flex;
}
#edit-name{
     display: none;
}
#edit-name.active{
    display: flex;
}

.input-box{
    width: 80%;
    height: 16%;
    padding: 2%;
    background-color: var(--input-box);
    border-radius: 0.7rem;
    color: var(--text-color);
}
#bottom-btn{
    width: 35%;
    height: 100%;
}
#btm-btn{
    height: 100%;
    width: 100%;
}
#inp-img{
    margin-left: 3%;
    width: 50%;
    height: 100%;
}
.inp-img{
    height: 40%;
}
.ins-pop{
    flex:1;
    justify-content: center;
    align-items: center;
    row-gap: 10%;
}
#btm-btn1{
    height: 100%;
    width: 100%;
}
#bottom-btn1{
    width: 35%;
    height: 10%;
}