<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{css/style.css}" />
    <link rel="stylesheet" th:href="@{css/phone.css}" />
    <title>Global Chat</title>
  </head>
  <body>
    <div class="flex-box main-box">
      <div class="leftBar flex-column">
        <!-- <div class="left-box flex-column"> -->
        <nav class="nav-bar">
          <ul class="text nav-list">
            <li id="globalChat">
              <a th:href="@{/globalchat}" class="list btn active-room">Global Chat</a>
            </li>
            <li id="aboutUs">
              <a th:href="@{/aboutus}" class="list btn active-room">About Us</a>
            </li>
          </ul>
        </nav>
        <div id="userAccount">
          <ul class="nav-list">
            <li id="userAcc">
<!--              <a href="Profile.html" class="list btn active-room">Profile</a>-->
              <a th:href="@{/profile}" class="list btn active-room">Profile</a>
            </li>
            <li id="logout">
              <a th:href="@{/logout}" class="list btn active-room">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <input type="checkbox" id="check" />
      <label for="check" id="check-btn">
        <i class="fas fa-bars"></i>
      </label>
      <div class="menu-close">
        <label id="close-icon">
          <i class="fa fa-window-close" aria-hidden="true"></i>
        </label>
      </div>
      <!-- ============RIGHT BOX=================== -->
      <div class="right-box flex-box flex-column">
        <div class="top-bar">
          <!-- <img id="menu" src="menu.png" alt=""> -->
          <h3 class="heading text center" id="chatHeader">Global Chat</h3>
        </div>
        <div class="container flex-box hideScroll">
          <div class="starterLine">
            <h4 class="text center" id="greetHeader">
              Welcome to the Global Chat
            </h4>
          </div>
          <div class="chat-message flex-box flex-column">
            <div class="message-box right grey-bg">
              <div class="message-sender">Risesh</div>
              <div class="message-text">
                Hello World Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Ipsa eaque perspiciatis reprehenderit unde vel quaerat
                ipsam corrupti, quod consequuntur maxime?
              </div>
              <div class="message-timestamp">12:33</div>
            </div>
            <div class="message-box grey-bg">
              <div class="message-sender">Risesh</div>
              <div class="message-text">
                Hello World Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Ipsa eaque perspiciatis reprehenderit unde vel quaerat
                ipsam corrupti, quod consequuntur maxime?
              </div>
              <div class="message-timestamp">12:33</div>
            </div>
            <div class="message-box right grey-bg">
              <div class="message-sender">Risesh</div>
              <div class="message-text">
                Hello World Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Ipsa eaque perspiciatis reprehenderit unde vel quaerat
                ipsam corrupti, quod consequuntur maxime?
              </div>
              <div class="message-timestamp">12:33</div>
            </div>
            <div class="message-box grey-bg">
              <div class="message-sender">Risesh</div>
              <div class="message-text">
                Hello World Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Ipsa eaque perspiciatis reprehenderit unde vel quaerat
                ipsam corrupti, quod consequuntur maxime?
              </div>
              <div class="message-timestamp">12:33</div>
            </div>
            <div class="message-box right grey-bg">
              <div class="message-sender">Risesh</div>
              <div class="message-text">
                Hello World Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Ipsa eaque perspiciatis reprehenderit unde vel quaerat
                ipsam corrupti, quod consequuntur maxime?
              </div>
              <div class="message-timestamp">12:33</div>
            </div>
            <div class="message-box grey-bg">
              <div class="message-sender">Risesh</div>
              <div class="message-text">
                Hello World Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Ipsa eaque perspiciatis reprehenderit unde vel quaerat
                ipsam corrupti, quod consequuntur maxime?
              </div>
              <div class="message-timestamp">12:33</div>
            </div>
          </div>
        </div>
        <div id="input1">
          <form action="#" id="chat-input-form">
            <input
              type="text"
              name="chat"
              id="chat"
              placeholder="Enter a message"
              class="inputBox"
            />
            <button type="submit" class="send-btn btn" th:method="@{post}" th:action="@{/sendMessage}">Send</button>
          </form>
        </div>
        <!-- ============ FOOTER =================== -->
        <footer>
          <h4>Copyright &copy www.globalchat.org</h4>
        </footer>
      </div>
    </div>
  </body>
  <script th:src="@{Js/client.js}"></script>
<!--  <script>-->
<!--    const menuBtn = document.querySelector("#check-btn");-->
<!--    const leftBar = document.querySelector(".leftBar");-->
<!--    const menuClose = document.querySelector(".menu-close");-->
<!--    const closeBtn = document.querySelector("#close-icon");-->
<!--    const openPage = () => {-->
<!--      menuBtn.classList.toggle("active");-->
<!--      leftBar.classList.toggle("active");-->
<!--      menuClose.classList.toggle("active");-->
<!--      console.log("bTN cLICK");-->
<!--    };-->
<!--    const closePage = () => {-->
<!--      menuClose.classList.remove("active");-->
<!--      leftBar.classList.remove("active");-->
<!--      menuBtn.classList.toggle("active");-->
<!--    };-->

<!--    closeBtn.onclick = () => closePage();-->
<!--    menuBtn.onclick = () => openPage();-->
<!--  </script>-->
</html>
<!--Justify content for making right and left bar-->
